{% extends "AcmeSandboxBundle::layout.html.twig" %}

{% block title "Sandbox - Index" %}

{% block content %}
    <h1>Sandbox - Index</h1>

    <p>Here is an example.</p>
{% endblock %}

{% set code = code(_self) %}
