{% extends "AcmeSandboxBundle::layout.html.twig" %}

{% block title "Sandbox - Bundles - FriendshipBundle" %}

{% block content %}
    <h1>Sandbox - Bundles - FriendshipBundle</h1>

    <p>Here is an example.</p>
{% endblock %}

{% set code = code(_self) %}
